<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>
<body>
    <h1>Ninjas Intro</h1>
    <p>The Ninjas are introverted, extroverted, patient self starters that are adept to finding practical solutions to complex problems through the use of coding technology inorder to make the world a better place for us all.  </p>
</body>
</html>